[Unit]
Description = creative_curses tweet script
After = network.target

[Service]
Type = simple
WorkingDirectory = /home/pi/creative_cursing
ExecStart = /usr/bin/python3 /home/pi/creative_cursing/multi_insult_tweet.py
Restart = always
StandardOutput = syslog
StandardError = syslog
SyslogIdentifier = curses
User = pi

[Install]
WantedBy = multi-user.target
